* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #5a5656;
}
main {
  padding: 2rem 2rem;
}
.page-title {
  margin-bottom: 100px;
  font-size: 40px;
  text-align: center;
}
/*Buttons*/
.greenBtn {
  background-color: #859e6b;
  height: 40px;
  width: 100px;
  cursor: pointer;
}
.yellowBtn {
  background-color: #bfbb50;
  height: 40px;
  width: 100px;
  cursor: pointer;
}
.redBtn {
  background-color: #a73d3d;
  height: 40px;
  width: 100px;
  cursor: pointer;
}
.grayBtn {
  background-color: #d9d9d9;
  height: 60px;
  width: 200px;
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
}
/*HomePage*/
.logoDiv {
  width: 700px;
}
.homePageInfo {
  width: 50%;
}
.homeContainer {
  text-align: center;
}
.homePage-title {
  margin-bottom: 30px;
  font-size: 40px;
  text-align: center;
}

input,
textarea,
select {
  border: var(--border-color) solid 1px;
  padding: 0.3rem 0.4rem;
  border-radius: 5px;
  outline: none !important;
}

.text-primary {
  color: cadetblue;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
}

.btn {
  display: inline-block;
  background: #333;
  color: #f4f4f4;
  padding: 0.7rem 2rem;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
  max-width: 300px;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  border: none;
  outline: none !important;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.6);
}

.btn:hover {
  font-weight: bold;
  box-shadow: 0 0 0 0;
}

.form-container {
  max-width: 600px;
  border: #888 solid 1px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.6);
  background-color: #737272;
}

.form-container h4 {
  background: #333;
  color: #f4f4f4;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.6);
}

.form-wrapper {
  margin: 1rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* gap: 0.6rem; */
}

.form-control {
  display: flex;
  /* gap: 0.5rem; */
  align-items: center;
}

.form-control input,
textarea {
  width: 250px;
}
.userName {
  padding-left: 15px;
}
