.freetimeContainer {
  width: 800px;
}

.addMyFreeTimeDiv {
  display: flex;
  align-items: center;

  margin: 2rem 0rem 0rem 0rem;
}

.addMyFreeTimeDiv button {
  background-color: #859e6b;
  height: 40px;
  width: 200px;
  cursor: pointer;
}

.addMyFreeTimeDiv button:hover {
  background-color: #d9d9d9;
}






