.navbarContainer {
  float: left;
}
.navbarLogo {
  width: 300px;
}
.navbarContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.nav_Link {
  padding: 10px;
  text-decoration: none;
  color: white;
}
.nav_Link:hover {
  color: black;
}
.active {
  color: black;
}
.logOutBtn {
  color: red;
}
